.vedio__cont{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:20px;
    overflow: hidden;
    padding: 20px;
    
}



    